div, body {
	margin: 0;
	padding: 0;
	border: 0;
}

.wrapper {
	width: 100%;
	height: 978px;
	overflow: hidden;
	white-space: nowrap;
}

.sus {
	width: 100%;
	height: 4px;
	background: #8DC63F;
}

.stanga {
	float: left;
	width: 20%;
	height: 974px;
	background: #481B11 url('images/stanga_bg.png') repeat-x;
}

.gradient {
	position: absolute;
	left: 0;
	top: 4px;
	width:20%;
	height: 974px;
}

.logo {
	
}

.descriere {
	
}

.jos {
	
}

.dreapta {
	float: right;
	width: 80%;
	height: 974px;
	background: #FFFFFF url('images/dreapta_bg.jpg') no-repeat scroll center center;
}

.dreapta1 {
	display: inline-block;
	position: relative;
	left: 0;
	top: 50px;
	width: 50%;
	height: 608px;
	background: url('images/dreapta1_bg.png');
}

.dreapta2 {
	display: inline-block;
	position: relative;
	left: 0;
	top: 50px;
	width: 50%;
	height: 608px;
	background: url('images/dreapta2_bg.png');
}

.dreapta3 {
	float: right;
	position: relative;
	width: 50%;
	height: 608px;
	background: url('images/dreapta3_bg.png');
}

.social {
	position: absolute;
	top: 938px;
	right: 80px;
	width: 300px;
	height: 40px;
	background: url('images/social_bg.png');
}

.galerie {
	position: absolute;
	left: 0;
	top: 693px;
	width: 100%;
	height: 155px;
	background: url('images/galerie_bg.png');
}