/* CSS Mihai */

.dreapta_1 {
	display: inline-block;
	position: relative;
	left: 0;
	top: 50px;
	min-width:500px;
	width: 50%;
	height: 608px;
	background: url('images/dreapta1_bg.png');
	z-index:-1;
	display:inline-block;
	float:left;
}

.dreapta_2 {
	display: inline-block;
	position: relative;
	left: 0;
	top: 50px;
	width: 50%;
	height: 608px;
	background: url('images/dreapta2_bg.png');
	float:left;
	z-index:-1;
}

.dreapta_galerie {
	left: 0;
	top: 50px;
	position:absolute;
	width:100%;
	margin:0 auto;
	z-index:0;
}

.dreapta_in_galerie {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}