body {
	margin: 0;
	padding: 0;
	border: 0;
	background: #55170C url('../images/body_bg.jpg') no-repeat scroll center top;
}

.wrapper {
	position:relative;
	margin: auto;
	width: 990px;
	height: 640px;
	overflow: hidden;
}

.sus {
	width: 100%;
	height: 4px;
	background: #8DC63F;
}

.stanga {
	position: relative;
	float: left;
	width: 200px;
	height: 636px;
	background: #481B11 url('../images/stanga_bg.jpg');
}

.logo {
	width: 100%;
	text-align: center;
}

.logo img {
	border: none;
}

.descriere {
	width: 100%;
	height: 40px;
	text-align: center;
	color: #888888;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.menu_ul {
	padding-left: 0;
	height: 330px;
	color: #FFFFFF;
	text-align: center;
	font-family: Helvetica LT Std, Verdana, Geneva, sans-serif;
	list-style-type: none;
	font-size: 16px;
	line-height: 32px;
}

.menu_ul li {
	position: relative;
	padding-bottom: 2px;
}

.menu_ul li:hover {
	position: relative;
	background: url('../images/hover.png');
}

a {
	color: #FFF;
	text-decoration: none;
}

.jos {
	width: 100%;
	padding-left: 20px;
	color: #888888;
	text-align: left;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.jos span {
	color:#FF0;
}

.dreapta {
	float: right;
	border: 0;
	padding: 0;
	width: 790px;
	height: 636px;
	background: url('../images/dreapta_bg.jpg') no-repeat center center;
	text-align: left;
}

.dreapta1 {
	position: relative;
	float:left;
	left: 0;
	top: 50px;
	width: 390px;
	height: 320px;
	vertical-align: bottom;
	background: url('../images/dreapta1_bg.png');
}

.dreapta2 {
	position: relative;
	float:left;
	overflow: hidden;
	top: 50px;
	width: 200px;
	height: 320px;
	background: url('../images/dreapta2_bg.png');
}

.dreapta3 {
	position: relative;
	float: right;
	overflow: hidden;
	top: 50px;
	width: 200px;
	height: 320px;
	background: url('../images/dreapta3_bg.png');
	text-align: left;
}

.social {
	position: relative;
	float: right;
	top: 286px;
	right: 50px;
	width: 250px;
	height: 30px;
	padding: 5px;
	background: url('../images/social_bg.png');
	text-align: center;
	color: #FFFFFF;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.social img {
	vertical-align: bottom;	
}

.galerie {
	position: absolute;
	margin-left: -495px;
	left: 50%;
	top: 400px;
	width: 990px;
	height: 120px;
	background: url('../images/galerie_bg.png');
}

.galerie p {
	position: relative;
	float: left;
	width: 200px;
	height: 120px;
}

.galerie_prev {
	position: relative;
	float: left;
	width: 50px;
	height: 120px;
	background: url('../images/prev.png') transparent no-repeat scroll center center;
}

.galerie_next {
	position: relative;
	float: right;
	width: 50px;
	height: 120px;
	background: url('../images/next.png') transparent no-repeat scroll center center;
}

.galerie_wrapper {
	position: relative;
	float: right;
	width: 690px;
	height: 120px;
	overflow: hidden;
}

.galerie_container {
	position: relative;
	white-space: nowrap;
}

.galerie_container a {
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}

.galerie_container img {
	width: 102px;
	height: 76px;	
}