.dreapta1 {
	width: 700px;
	overflow: scroll;
}

.dreapta2 {
	width: 90px;
}

.dreapta1 h1 {
	margin-left: 15px;
	margin-top: 15px;
	font-family: Helvetica LT Std, Verdana, Geneva, sans-serif;
	color: #35180f;
	font-size: 18px;
}

.dreapta1 p {
	margin-left: 15px;
	margin-right: 10px;
	color: #000000;
	font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	white-space: normal;
}

.dreapta2 img {
	margin-left: 6px;
	width: 74px;
	border: 2px #FFFFFF solid;
}

.dreapta3 {
	display:none;
}