.dreapta1 {
	width: 590px;
	overflow-y:scroll;
}
.dreapta1 h1 {
	margin-left: 15px;
	margin-top: 15px;
	font-family: Helvetica LT Std, Verdana, Geneva, sans-serif;
	color: #35180f;
	font-size: 18px;
}

.dreapta1 p {
	margin-left: 15px;
	margin-right: 10px;
	color: #000000;
	font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	white-space: normal;
}

.dreapta1 ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	white-space: normal;
}

.dreapta1 li
{
	padding-left: 25px;
	background-image: url('../images/bullet.png');
	background-repeat: no-repeat;
	background-position: 15px 4px; 
	font-size: 10px;
}

.dreapta1 h3 a {
	margin-left: 15px;
	margin-top: 15px;
	font-family: Helvetica LT Std, Verdana, Geneva, sans-serif;
	color: #35180f;
	font-size: 18px;
	white-space:normal;
}

.nm_post_back a {
	color:#000000;
}

.dreapta2 {
	font-family: Helvetica LT Std, Verdana, Geneva, sans-serif;
	color: #ffffff;
	font-size: 18px;
	white-space: normal;
	overflow-y:scroll;
}

.dreapta2 p {
	display: block;
	margin-top: 15px;
	margin-left: 15px;
	font-family: Helvetica LT Std, Verdana, Geneva, sans-serif;
	color: #35180f;
	font-size: 18px;
	white-space: normal;
}

.dreapta2 ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	white-space: normal;
}

.dreapta2 li
{
	padding-left: 25px;
	padding-bottom:10px;
	background-image: url('../images/bullet.png');
	background-repeat: no-repeat;
	background-position: 15px 4px; 
	font-size: 14px;
}

.dreapta2 li a
{
	color:#35180f;
	font-weight:bold;
}

.dreapta3 {
	display: none;
}